@page
@model WebApp.Pages.Account.RegisterModel
@{
}
<div class="container border" style="padding:20px">
    <div asp-validation-summary="All" class="text-danger"></div>
    <form method="post">
        <div class="mb-3 row">
            <div class="col-2">
                <label asp-for="RegisterModelView.Email"></label>
            </div>
            <div class="col-5">
                <input type="text" asp-for="RegisterModelView.Email" class="form-control" />
                <span asp-validation-for="RegisterModelView.Email" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col-2">
                <label asp-for="RegisterModelView.Password"></label>
            </div>
            <div class="col-5">
                <input type="password" asp-for="RegisterModelView.Password" class="form-control" />
                <span asp-validation-for="RegisterModelView.Password" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col-2">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
            <div class="col-5">
            </div>
        </div>
    </form>

</div>